{% load static %}

<!-- HEADER DESKTOP-->
<header class="header-desktop3 d d-lg-block">
            <div class="section__content section__content--p35">
                <div class="header3-wrap">
                    <div class="header__logo">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'images/icon/izailogo1.png' %}" alt="IZAI" />
                        </a>
                    </div>
                    <div class="header__navbar">
                        <ul class="list-unstyled">
                            <li class="has-sub">
                                <a href="#">
                                    <i class="fas fa-book"></i>Medidas de Apremio
                                    <span class="bot-line"></span>
                                </a>
                                <ul class="header3-sub-list list-unstyled">
                                    <li>
                                        <a href="{% url 'crearM' %}">Crear medida de apremio</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'listarM' %}">Listar medidas de apremio</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="#">
                                            <i class="fas fa-clipboard-list"></i>Medios de Impugnación
                                    <span class="bot-line"></span>
                                </a>
                                <ul class="header3-sub-list list-unstyled">
                                    <li>
                                        <a href="{% url 'crearMedio' %}">Crear Medio de Impugnación</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'listarMedio' %}">Listar Medio de Impugnación</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="#">
                                    <i class="fas fa-gavel"></i>Resoluciones
                                    <span class="bot-line"></span>
                                </a>
                                <ul class="header3-sub-list list-unstyled">
                                    <li>
                                        <a href="{% url 'crearResolucion' %}">Crear Resolución</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'listarResolucion' %}">Listar Resoluciones</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                    <!-- Topbar Navbar -->
                <ul class="list-unstyled">

                    <!-- Nav Item - User Information -->
                    <li class="has-sub">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class=" big" style="text-transform: uppercase; color: white">!Bienvenido¡ | {{user}}</span>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="http://127.0.0.1:8000/admin">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Configuración
                            </a>

                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item" href="">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Salir
                            </a>
                        </div>
                    </li>

                </ul>


            <!-- End of Topbar -->
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->


