{% extends 'base.html' %}
{% block content %}
    <div class="section__content section__content--p35">
            <br>
            <div class="card">
                <div class="row" >
                    <div class="col-lg-12">
                        <div class="" >
                            <h3 class="text-center" style="color: #6f42c1">Resoluciones</h3>
                        </div>
                        <hr>
                        <form  method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if error %}
                                <h1>{{ error }}</h1>

                            {% else %}
                                <div class="row">
                                <div class="col-lg-6">
                                    <p style="color: blue">Expediente</p>
                                    <div class="form-group">
                                        {% for error in form.no_expediente.errors %}
                                            <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                        {{ form.no_expediente }}

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <p style="color: blue">Medio de Impugnación</p>
                                    <div class="form-group">
                                    {{ form.medioImpugnacion }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <p style="color: blue">Fecha de Resolucion</p>
                                    <div class="form-group">
                                        {{ form.fecha_resolucion }}
                                    </div>
                                </div>

                                 <div class="col-lg-6">
                                     <p style="color: blue">Multa</p>
                                    <div class="form-group">
                                        {{ form.multa }}
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form.puntos_resolucion }}
                                    </div>
                                </div>


                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form.sentido_resolucion }}
                                    </div>
                                </div>

                                </div>
                                <div>
                                    <button id="payment-button" type="submit" class="btn btn-lg btn-outline-secondary btn-block">
                                        <i class="fa fa-save fa-lg"></i>&nbsp;
                                        <span id="payment-button-amount">Guardar</span>
                                        <span id="payment-button-sending" style="display:none;">Sending…</span>
                                    </button>
                                </div>
                            {% endif %}
                        </form>


                    </div>
                </div>
            </div>
        </div>

{% endblock content %}
