{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
{% block title %}
    Listar Resolucion
{% endblock title%}
{% block content %}
    <!-- MAIN CONTENT-->
    <div class="">
        <br> <div class="section__content section__content--p30">
        <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive table--no-card m-b-30">
                            <h3 class="text-center" style="color: #6f42c1">Lista de Resoluciones</h3>
                            {#        <input class="form-control border-bottom-primary" id="myInput" type="text" placeholder="Buscar...">#}
                            {% if listarResoluciones %}
                            <table class="table table-striped table-earning table-bordered nowrap" id="descarga">
                                <thead>
                                <tr>
                                    <th>Numero de expediente</th>
                                    <th>Sujeto Obligado</th>
                                    <th>Medio de Impugnacion</th>
                                    <th>Fecha de Resolucion</th>
                                    <th class="text-right">Multa</th>
                                    <th class="text-right">Puntos de la Resolución</th>
                                    <th class="text-right">Sentido de la Resolución</th>
                                    <th class="text-right">Acciones</th>
                                </tr>
                                </thead>
                                <tbody id="demo-info">
                                {% for lista in listarResoluciones %}
                                    <tr>
                                        <td>{{ lista.no_expediente }}</td>
                                        <td>{{lista.medioImpugnacion.medidas_apremio.SujetoObligado}}</td>
                                        <td>{{lista.medioImpugnacion}}</td>
                                        <td>{{ lista.fecha_resolucion }}</td>
                                        <td class="text-right">{{lista.multa}}</td>
                                        <td class="text-right">{{ lista.puntos_resolucion }}</td>
                                        <td class="text-right">{{ lista.sentido_resolucion }}</td>

                                        <td>
                                            <a href="{% url 'actualizarResolucion' lista.id%}" class="badge badge-warning">EDITAR</a>
                                            <a href="{% url 'eliminarResolucion' lista.id%}" class="badge badge-danger">ELIMINAR</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                             {% else %}
                <h1>No se encontraron registros</h1>
            {% endif %}

                        </div>
                    </div>

                </div>


        </div>
    </div>
    </div>
    </html>
{% endblock content %}
